
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<th:block th:fragment="headerFragment">
<header>
    <div class="inner">
        <div id="logo" >
            <a href="#">IM YOUR MANAGER</a>
        </div>
        <div>
            <ul id="gnb">
                <li><a href="#">팀 게시판</a></li>
                <li><a href="#">모집 게시판</a></li>
                <li><a href="#">공지사항</a></li>
            </ul>
        </div>
        <div id="icon">
            <a href="#"><i class="bi bi-person-circle"></i></a>
            <a href="#"><i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>
</header>
</th:block>
</html>