<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/basic.html}">+
<meta charset="utf-8"/>
<head>
    <title>Team Register Page</title>

</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Team Register
                </div>
                <div class="card-body">
                    <form id="registerForm" action="/main/team/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">팀이름</span>
                            <input type="text" id="teamName" name="teamName" class="form-control" onkeyup="checkName()" placeholder="문자10자 이내" value='' autofocus required>
                        </div>
                        <div class="input-group mb-3">
                            <span id="chkMsg"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">연령대</span>
                            <select type="text" name="teamAge" class="form-control">
                                <option name="t_age" value="">-선택-</option>
                                <option name="t_age" value="10">10대</option>
                                <option name="t_age" value="20">20대</option>
                                <option name="t_age" value="30">30대</option>
                                <option name="t_age" value="40">40대</option>
                                <option name="t_age" value="50">50대</option>
                                <option name="t_age" value="60">60대</option>
                                <option name="t_age" value="70">70대</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">팀유형</span>
                            <select type="text" name="teamType" class="form-control" required>
                                <option name="t_type" value="">-선택-</option>
                                <option name="t_type" value="male">남성팀</option>
                                <option name="t_type" value="female">여성팀</option>
                                <option name="t_type" value="mixed">혼성팀</option>
                                <option name="t_type" value="youth">청소년팀</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">팀지역</span>

                            <select id="loc"
                                    name="teamLocal1" onchange="cat1_change(this.value,teamLocal2)"
                                    class="teamLocal1" required >
                                <option>-선택-</option>
                                <option value='1'>서울</option>
                                <option value='2'>부산</option>
                                <option value='3'>대구</option>
                                <option value='4'>인천</option>
                                <option value='5'>광주</option>
                                <option value='6'>대전</option>
                                <option value='7'>울산</option>
                                <option value='8'>강원</option>
                                <option value='9'>경기</option>
                                <option value='10'>경남</option>
                                <option value='11'>경북</option>
                                <option value='12'>전남</option>
                                <option value='13'>전북</option>
                                <option value='14'>제주</option>
                                <option value='15'>충남</option>
                                <option value='16'>충북</option>

                            </select> <select name="teamLocal2" onchange="cat2_change(this.value)" class="form-control">
                            <option>-선택-</option>
                        </select>
                            <script layout:fragment="script" th:inline="javascript" src="js/local.js"></script>   <!-- 지역구 옵션선택 -->
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">실 력</span>
                            <select name="teamLevel" class="form-control"
                                    id="level" required>
                                <option name="t_level" value="">-선택-</option>
                                <option name="t_level" value="high">상</option>
                                <option name="t_level" value="middle">중</option>
                                <option name="t_level" value="low">하</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">팀소개</span>
                            <textarea name="teamInfo" class="form-control"
                                      id="info" cols="50" rows="5"
                                      placeholder="팀에 대한 소개를 간단히 작성해주세요 (문자 200자 내외)"></textarea></li>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">등 록</button>
                                <button type="reset" class="btn btn-secondary">취 소</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->


</div>

<script layout:fragment="script" th:inline="javascript">

    const error = [[${error}]]

    if (error && error === 'mid') {
        alert("동일한 MID를 가진 계정이 존재합니다.")
    }
</script>
<script layout:fragment="script" th:inline="javascript">
    function checkName(){
        const name = $('#teamName').val();
        const sendData = {"name": name};
        $.ajax({
            url:'/main/team/register/teamName',
            method:'post',
            data:sendData,
            success:function(result) {
                if (result == false){
                    $('#chkMsg').css("color","blue");
                    $('#chkMsg').html(" 사용가능 ");
                } else {
                    $('#chkMsg').css("color","red");
                    $('#chkMsg').html(" 사용불가 ");
                }
            },
            error: function(){
                alert("에러입니다");
            }
        });
    };
</script>




